/* App.css or a specific CSS file */
.background-image {
  background-image: url('./assets/IN-en-20240506-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size: cover;
  background-position: center;
}
.banner-background{
  background-image: url('./assets/VAL_203_Unit_00436RC.webp');
  background-size: cover;
  background-position: center;
  
}
.signup-device-background{
  background-image: url('./assets/Devices.png');
  background-size: cover;
  background-position: center;
  
}
.profile-background{
  background-image: url('./assets/profile.webp');
  background-size: cover;
  background-position: center;
  
}
body{
  background-color: black;
}