/* App.css or a specific CSS file */
.background-image {
  background-image: url('./assets/IN-en-20240506-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size: cover;
  background-position: center;
}
